<!DOCTYPE html>
<html>
<head>
  <title>Download ChatApp</title>
</head>
<body>
  <h1>Download ChatApp</h1>
  <p>Get the latest version of the app:</p>
  <ul>
    <li><a href="/downloads/chatapp.apk">Android APK</a></li>
    <li><a href="/downloads/chatapp.ipa">iOS TestFlight/IPA</a></li>
  </ul>
</body>
</html>
